
  <p>Saving all your favorite things in one place</p>

  <select id="dropDown"><% @lists.each do |field| %>
        <option value="<%= field.id %>"><%= field.title %></option>

    <% end %>
  </select>

  <button id="listButton">Create a List</button>

    <button id="allLists">Go to my Lists</button>

  <button id="favButton">Add Favorite</button>




    <input id="pac-input" class="controls" type="text"
        placeholder="Enter a location">
    <div id="type-selector" class="controls">
      <input type="radio" name="type" id="changetype-all" checked="checked">
      <label for="changetype-all">All</label>

      <input type="radio" name="type" id="changetype-establishment">
      <label for="changetype-establishment">Establishments</label>

      <input type="radio" name="type" id="changetype-address">
      <label for="changetype-address">Addresses</label>

      <input type="radio" name="type" id="changetype-geocode">
      <label for="changetype-geocode">Geocodes</label>
    </div>
    <div id="map-canvas"></div>


<script type="text/javascript">
    
  $("#listButton").click(function() {
      var newList = prompt("What do you want to name your list?");
      $.post('/lists', {title:newList, user_id:1}).done(function(result){
          $("#dropDown").append('<option value="'+ result.id + '">' + result.title + '</option>')
          console.log(result);
      });
  
      return false;
  });

</script>
  


<script type="text/javascript">

  $("#favButton").click(function() {
      $.post('/favorites', {name:placeName, address:placeAddress, list_id:$("#dropDown").val()}).done(function(fav){
          console.log(fav);
  });
       return false;
  });

</script>


<script type="text/javascript">
  $("#allLists").click(function() {
    window.location.href = '/lists'
  });


</script>

  </body>
</html>

